# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
build/
/third_party
/CMakeFiles
conanbuildinfo.*
CMakeCache.txt
cmake_install.cmake
bin
.vscode
.Rproj.user
.httr-oauth
doc
.DS_Store
